a
	text-decoration none

body 
	padding 12px

header
	font-size 20px
	font-family 'Raleway', sans-serif


#main-logo
	font-size 24px
	font-family 'Montserrat', sans-serif
	color #388e3c
	text-transform lowercase